@model Bill.Web.UI.ViewModels.InvoiceClientsCompanies

@{
  ViewBag.Title = "Factuur maken";
}

<h2>Maak een nieuwe Factuur</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.Invoice.Date, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-6">
        @Html.EditorFor(model => model.Invoice.Date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Invoice.Date, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        @Html.DropDownListFor(m => m.Invoice.ClientID, new SelectList(Model.Clients, "ID", "Email"), "Selecteer klant", new { @class = "form-control" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        @Html.DropDownListFor(m => m.Invoice.CompanyID, new SelectList(Model.Companies, "ID", "Name"), "Selecteer bedrijf", new { @class = "form-control" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <a href="/invoices" class="btn btn-light">Terug</a>
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
