@model Bill.DataModels.Invoice

@{
  ViewBag.Title = "Details";
}

  <div class="row mt-4">
    <div class="col-6">
      <h2>@Html.DisplayFor(i => i.Company.Name)</h2>
      <p>@Html.DisplayFor(i => i.Company.Street)</p>
      <p>@Html.DisplayFor(i => i.Company.PostalCode) @Html.DisplayFor(i => i.Company.City)</p>
      <p>@Html.DisplayFor(i => i.Company.VATNumber)</p>
    </div>
    <div class="col-6">
      <h2>@Html.DisplayFor(i => i.Client.Firstname) @Html.DisplayFor(i => i.Client.Lastname)</h2>
      <p>@Html.DisplayFor(i => i.Client.Street)</p>
      <p>@Html.DisplayFor(i => i.Client.PostalCode) @Html.DisplayFor(i => i.Client.City)</p>
      <p>@Html.DisplayFor(i => i.Client.Email)</p>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>Omschrijving</th>
      <th>Prijs per stuk</th>
      <th>Aantal</th>
      <th>Totaalprijs</th>
    </tr>

@foreach (var item in Model.InvoiceLines){
  <tr>
    <td>@Html.DisplayFor(modelItem => item.Description)</td>
    <td>@Html.DisplayFor(modelItem => item.Price)</td>
    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
    <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>
  </tr>
}
  </table>




